body {
    background-image: linear-gradient(rgb(59, 88, 93),
            rgb(29, 40, 42));
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
}

#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button {
    font-size: 1.5em;
    cursor: pointer;
}

.button-mavigate {
    font-size: 3em;
}

.button-biggest {
    font-size: 4em;
}

#cover {
    width: 450px;
}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0;
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color {
    color: rgb(139, 153, 156);
}

#progress-bar {
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#current-progress {
    /*criar uma variavel no css*/
    --progress: 0%;
    background-color: white;
    height: inherit;
    width: var(--progress);
    border-radius: inherit;
}

#progress-container {
    cursor: pointer;
}

.button-active {
    color: rgb(0, 128, 62);
}

#time-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
    margin-top: 0.5em;
}



















:root {
    --primary-bg-color: #0F1119;
    --primary-font-color: white;
    --secondary-font-color: #E6F627;
    --primary-theme-color: #1C1F2D;
    --primary-theme-color-low: #474E71;
    --primary-theme-color-low-low: #242A45;
    --secondary-theme-color: #434CDF;
    --disabled-font-color: #555555;
    --disabled-background-color: #dcdcdc;
}


.light-mode:root {
    --primary-bg-color: #FAFAFA;
    --primary-font-color: #303030;
    --secondary-font-color: white;
    --primary-theme-color: #E4BF51;
    --primary-theme-color-low: #F9D15A;
    --secondary-theme-color: #434CDF;
}